
html{
	font-family: 'Josefin Sans', sans-serif;
}

header, main, article, aside, footer{
padding:0;
margin:0;
border:1px solid black;
}

header, nav, main{
	display: flex;
}

h1{
	padding:30px;
	margin:10px;
	border:1px solid black;

}

article{
	flex-basis:75%
}

aside{
	flex-basis:25%
	
  }
  
  ul {
    list-style-type: none;
}

figure {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0px;
}