
html{
	font-family: 'Josefin Sans', sans-serif;
}

header, nav, main, article, aside, footer{
padding:0;
margin:0;
border:1px solid black;

}

header, nav, main{
	display: flex;
}

h1{
	padding:30px;
	margin:10px;
	border:1px solid black;

}

article{
	flex-basis:75%
}

aside{
	flex-basis:25%
	
  }
  

  
@media (max-width: 600px){
	main{
		flex-direction:column;
	}
	article{
		flex-basis:100%;
	}
	aside{
		flex-basis:100%;
	}
}
  
  
  @keyframes moveRight {
  0%, 100% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(100px);
  }
}

  animation: moveRight 2s;
